@use '../abstracts/variables/text';
@use '../abstracts/variables/grid';
@use '../abstracts/variables/colours';
@use '../abstracts/variables' as vars;

.kg-gallery-card {
  .kg-gallery-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &:not(:last-child) {
      margin-bottom: grid.$gutter;
    }

    > * {
      flex: 1;

      &:not(:last-child) {
        margin-right: grid.$gutter;
      }
    }
  }

  img {
    border-radius: vars.$radius;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    font-size: text.size(-1);
    margin-top: grid.$gutter;
  }
}
