@use '../abstracts/variables/text';
@use '../abstracts/variables/grid';
@use '../abstracts/variables/colours';
@use '../abstracts/variables' as vars;

.kg-gallery-card {
  .kg-gallery-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-height: 35rem;

    &:not(:last-child) {
      margin-bottom: grid.$gutter;
    }

    > * {
      flex: 1;

      &:not(:last-child) {
        margin-right: grid.$gutter;
      }
    }
  }

  img {
    border-radius: vars.$radius;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: grid.$break-xs) {
    .kg-gallery-row:not(:last-child) {
      margin-bottom: .6 * grid.$gutter;
    }

    .kg-gallery-row > *:not(:last-child) {
      margin-right: .6 * grid.$gutter;
    }
  }
}
