@use '../abstracts/variables/text';
@use '../abstracts/variables/grid';
@use '../abstracts/variables/colours';
@use '../abstracts/variables' as vars;

.post-content {
  > * {
    @extend %container-main;

    &:not(:last-child) {
      margin-bottom: grid.$gutter;
    }
  }

  .kg-card {
    @extend %container-full;

    margin: grid.$gutter 0;
    display: grid;
    grid: inherit;
    gap: inherit;

    > * {
      @extend %container-main;
    }
  }

  .kg-width-wide > *:not(figcaption) {
    @extend %container-wide;
  }

  .kg-width-full > *:not(figcaption) {
    @extend %container-full;
  }

  figcaption {
    font-size: text.size(-1);
    margin-top: grid.$gutter;

    @media (max-width: grid.$break-xs) {
      line-height: 1.5;
    }
  }
}
