@use '../abstracts/variables/grid';
@forward '../abstracts/variables/grid';

%site-grid {
  display: grid;
  gap: grid.$gutter;
  grid-template-columns: 1fr repeat(12, 4%) 1fr;
}

@media (max-width: grid.$break-xs) {
  %site-grid {
    grid-template-columns: 1fr 80% 1fr;
  }
}

%container-main {
  grid-column-start: 3;
  grid-column-end: -3;
}

%container-wide {
  grid-column-start: 2;
  grid-column-end: -2;
}

%container-full {
  grid-column-start: 1;
  grid-column-end: -1;
}

.grid {
  @extend %site-grid;

  padding: 2 * grid.$gutter grid.$gutter 0;
  row-gap: 2 * grid.$gutter;
  grid-template-areas: '.... head head head head head head head head head head head head ....'
                       'main main main main main main main main main main main main main main'
                       'foot foot foot foot foot foot foot foot foot foot foot foot foot foot'
  ;

  @media (max-width: grid.$break-xs) {
    grid-template-areas: 'head head head'
                         'main main main'
                         'foot foot foot'
    ;
  }

  .site-header {
    grid-area: head;
  }

  main {
    @extend %site-grid;

    grid-area: main;
    row-gap: 0;
  }
}
