@use '../abstracts/variables/grid';
@forward '../abstracts/variables/grid';

%grid {
  display: grid;
  grid-gap: 2 * grid.$gutter;
  justify-content: center;
  align-items: start;
}

%container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

%container-main {
  @extend %container;

  max-width: grid.$width-main;
}

%container-wide {
  @extend %container;

  max-width: grid.$width-wide;
}

%container-full {
  @extend %container;

  max-width: grid.$width-full;
}

.layout {
  @extend %grid;
  @extend %container;

  padding: 2 * grid.$gutter grid.$gutter;
}

%cols-6-6 {
  grid-template-columns: 6fr 6fr;
}
