@use '../functions';

$size-default: 17px;
$size-mobile: 14px;
$scale-ratio: 1.3;

$font-primary: Merriweather;
$font-secondary: 'Adam.CG Pro';

@function size($scale) {
  $size: functions.pow($scale-ratio, $scale);
  @return #{$size + 'rem'}
}
